/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.botonScreen1{
	-fx-background-color: #cccccc;
	-fx-background-radius: 10px;
}

.botonScreen1:hover {
	-fx-background-color: #999999;
}

.botonScreen1:pressed {
	-fx-background-color: #666666;
}

.panel1Screen2{
	-fx-background-color: #cccccc;
	-fx-background-radius: 20px;
}

.texto1{
	-fx-background-color: #ff3333;
	-fx-background-radius: 4px;
	-fx-text-fill: white;
}

.texto2{
	-fx-background-color: #ff3333;
	-fx-background-radius: 4px;
}

.ventana{
	-fx-background-color: #cccccc;
	-fx-background-radius: 20px;
}

.boton1Screen2{
	-fx-background-color: #ff3333;
	-fx-border-radius: 1.67px;
}

.panel2Screen2{
	-fx-background-color: #ff3333;
	-fx-background-radius: 7.88px;
}

.texto1Screen2{
	-fx-background-color: #cccccc;
	-fx-border-radius: 4px;
}

.texto2Screen2{
	-fx-background-color: #cccccc;
	-fx-border-radius: 4px;
}

.panel3Screen2{
	-fx-background-radius: 2.21px;
	-fx-background-color: #ff3333;
}

.anchorPanePantalla1{
	-fx-background-image: url("../../imagenes/fondos/FondoInterfaz-01.png");
	-fx-background-size: cover;
}