/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.botonf6 {
	-fx-border-style: solid;
	-fx-border-radius: 15px;
	-fx-border-width: 2px; 
	-fx-border-color: #cccccc;
	-fx-font-size: 40pt;
	-fx-font-family: computerfont;
	/*-fx-padding: 1 1 1 1;*/
	-fx-color: #cccccc;
}