/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.f6 {
	-fx-border-style: solid;
	-fx-border-radius: 10px;
	-fx-border-color: #cccccc;
	/*-fx-padding: 1 1 1 1;*/
	-fx-color: #cccccc;
}